<p><h3>Ваша публикация.</h3></p>
<p></p>
<form action="/message" method="POST">
  <div class="form-group">
    <label>Напишите здесь.</label>
    <textarea class="form-control" name="mess[message]" rows="3" ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Опубликовать</button>
</form>

